<div class="header">
  <div class="header-action">
    <button
      *ngFor="let item of forecast"
      [class.btn-day--active]="item.day === selectDay"
      (click)="selectDay = item.day"
      class="btn-day"
    >
      {{ item.day }}
    </button>
  </div>

  <button
    [class.btn-add-favorite--active]="coord | storeHasWeatherCity"
    (click)="onAddToStore()"
    class="btn-add-favorite"
  >
    <app-svg-push-pin></app-svg-push-pin>
  </button>
</div>

<div class="main">
  <div class="main-action">
    <span class="main-title">{{
      selectDay | getDateByDay | date : "EEEE MMMM d OOO"
    }}</span>
  </div>

  <div *ngFor="let item of forecast" class="weather-details">
    <ng-container *ngIf="item.day === selectDay">
      <app-city-weather-details
        *ngFor="let item of item.forecastOnDay"
        [weatherDetails]="item"
      ></app-city-weather-details>
    </ng-container>
  </div>
</div>
