:host {
  position: sticky;
  top: 0;

  padding: 0 15px;

  display: flex;
  column-gap: 5px;

  min-height: 40px;

  background-color: #83a0eb;

  box-shadow: 0 3px 0 0 var(--city-weather-color-primary);

  z-index: 2;
}

.router-link {
  display: flex;
  align-items: center;

  padding: 0 10px;

  margin-top: 2px;

  transition: color 200ms;

  font-weight: 700;

  &:hover {
    color: white;
  }
}

.is-active {
  color: white;

  background-color: var(--city-weather-color-primary);
}
