:host {
  position: sticky;
  top: 0;

  padding: 0 15px;

  display: flex;
  column-gap: 15px;

  min-height: 40px;

  background-color: var(--city-weather-color-primary);

  z-index: 2;
}

.router-link {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;

  margin-top: 2px;

  font-weight: 700;

  color: white;

  transition: box-shadow 150ms;
}

.icon-box {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.is-active {
  box-shadow: 0 -3.5px 0 0 inset white;
}
