:host {
  position: sticky;
  top: 0;

  padding: 0 15px;

  display: flex;
  column-gap: 5px;

  min-height: 40px;

  background-color: #83a0eb;

  box-shadow: 0 3px 0 0 var(--city-weather-color-primary);
}

.router-link {
  display: flex;
  align-items: center;

  padding: 0 10px;

  margin-top: 2px;

  background-color: var(--city-weather-color-secondary);
}

.is-active {
  color: white;

  font-weight: 700;

  background-color: var(--city-weather-color-primary);
}
