<form [formGroup]="group" (ngSubmit)="onSubmit()" class="form">
  <button class="btn-form" type="submit">
    <app-svg-search></app-svg-search>
  </button>

  <label class="input-wrapper">
    <input
      class="input"
      [formControl]="group.controls.search"
      placeholder="Search City"
      type="text"
    />
  </label>
</form>

<span
  @errorAnime
  *ngIf="group.controls.search?.errors?.['minlength']"
  class="error"
>
  Min length of a city name is 3 symbol
</span>

<span
  @errorAnime
  *ngIf="group.controls.search?.errors?.['citySearch']"
  class="error"
>
  City didn't found
</span>
