@use "../../../../../styles/button";

:host {
  display: block;
  position: relative;
}

.form {
  display: flex;
  column-gap: 5px;
}

.btn-form {
  width: 60px;
  height: 60px;
  padding: 18px;

  border-radius: 10px;

  color: var(--city-weather-color-active);

  &:active {
    @extend %weather-button--active;
  }
}

.image {
  width: 100%;
}

.input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;

  box-shadow: 0 -1px 0 0 inset var(--city-weather-color-secondary);

  transition: box-shadow 150ms;

  &:focus-within {
    box-shadow: 0 -1.5px 0 0 inset var(--city-weather-color-primary);
  }
}

.input {
  border: none;
  outline: none;

  font-size: 24px;

  width: 100%;
}

.error {
  position: absolute;
  bottom: -20px;

  font-size: 12px;

  font-weight: 700;

  color: var(--city-weather-color-ascent);
}
