<div class="head">
  <div *ngIf="weather.geocoding as geocoding" class="city-info">
    <span class="city">
      {{ geocoding.name }} {{ geocoding.state }} {{ geocoding.country }}
    </span>

    <app-svg-push-pin
      class="icon-push-pin"
      *ngIf="{ lat: geocoding.lat, lon: geocoding.lon } | storeHasWeatherCity"
    ></app-svg-push-pin>
  </div>

  <div class="weather-detail">
    <div class="city-info-box">
      <div class="temperature">
        <span class="temperature__value">{{
          weather.cityWeather.main.temp
        }}</span>
        <span class="temperature__metric">C</span>
      </div>
    </div>

    <div class="weather" *ngIf="weather.cityWeather.weather[0] as weather">
      <img
        class="weather-image"
        [src]="weather.icon | weatherIcon : 4"
        alt="weather"
      />

      <span class="weather-description">{{ weather.description }}</span>
    </div>
  </div>
</div>

<div class="body">
  <div *ngIf="weather.cityWeather.main as main" class="details">
    <div class="details__action">
      <div class="details__title">
        <span>Details</span>
      </div>

      <div>
        <a
          class="link"
          [routerLink]="['/city', coord]"
          queryParamsHandling="merge"
        >
          Details more
          <app-arrow-right class="icon"></app-arrow-right>
        </a>
      </div>
    </div>

    <div class="details-box">
      <app-weather-description-item
        [value]="main.feels_like"
        class="details__item"
      >
        <span>Fils like:&nbsp;</span>
      </app-weather-description-item>

      <app-weather-description-item
        [value]="main.temp_max"
        class="details__item"
      >
        <span>Max Temp:&nbsp;</span>
      </app-weather-description-item>

      <app-weather-description-item
        [value]="main.temp_min"
        class="details__item"
      >
        <span>Min Temp:&nbsp;</span>
      </app-weather-description-item>

      <app-weather-description-item
        value="{{ weather.cityWeather.wind.speed }} m/s"
        class="details__item"
      >
        <span>Wind:&nbsp;</span>
      </app-weather-description-item>

      <app-weather-description-item
        [value]="main.humidity"
        class="details__item"
      >
        <span>Humidity:&nbsp;</span>
      </app-weather-description-item>

      <app-weather-description-item
        [value]="main.pressure"
        class="details__item"
      >
        <span>Pressure:&nbsp;</span>
      </app-weather-description-item>
    </div>
  </div>
</div>
