:host {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;

  width: 100%;
}

.snackbar {
  margin: 0 10px;
  padding: 20px;

  max-width: 400px;

  position: absolute;
  bottom: 100px;

  display: flex;
  column-gap: 20px;

  border-radius: 4px;

  color: white;

  background-color: #323232;

  box-shadow: 2px 2px 8px 2px #000000;
}

.message {
  word-break: break-all;
}

.btn-close {
  color: var(--city-weather-color-primary);

  font-size: 16px;

  font-weight: 700;

  background: none;

  cursor: pointer;
}
